[
    {
    "id":5,
    "key":"CxxPlugin:Sample",
    "name":"Sample",
    "scope":"PRJ",
    "qualifier":"TRK",
    "date":"2013-12-23T15:16:34+0100",
    "creationDate":"2013-12-23T12:37:36+0100",
    "lname":"Sample",
    "lang":"c++",
    "version":"0.0.1",
    "description":"",
    "msr":[{"key":"ncloc", "val":52.0, "frmt_val":"52"}]
   }
]



[
{
"msr":[{"val":52, "frmt_val":"52", "key":"ncloc"}],
"id":5,
"creationDate":"2013-12-23T12:37:36+0100",
"lname":"Sample",
"scope":"PRJ",
"description":"",
"name":"Sample",
"qualifier":"TRK",
"date":"2013-12-23T15:16:34+0100",
"lang":"c++",
"key":"CxxPlugin:Sample",
"version":"0.0.1"
}
]
